.UserPhotoPostComponent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
}

@media (max-width: 40rem) {
  .UserPhotoPostComponent {
    grid-template-columns: 1fr;
  }
}

.UserPhotoPostComponent #img {
  margin-bottom: 1rem;
}

.UserPhotoPostComponent .preview {
  border-radius: 1rem;
  background-size: cover;
  background-position: center center;
}

.UserPhotoPostComponent .preview::after {
  content: '';
  display: block;
  height: 0;
  padding-bottom: 100%;
}
