.UserHeaderNavComponent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  align-items: center;
}

.UserHeaderNavComponent a,
.UserHeaderNavComponent button {
  background-color: #eee;
  border-radius: 0.2rem;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  transition: 0.1s;
  cursor: pointer;
}

.UserHeaderNavComponent a:focus,
.UserHeaderNavComponent a:hover,
.UserHeaderNavComponent button:focus,
.UserHeaderNavComponent button:hover {
  background-color: #fff;
  box-shadow: 0 0 0 3px #eee;
  border-color: #333;
  outline: none;
}

.UserHeaderNavComponent a.active {
  background-color: #fff;
  box-shadow: 0 0 0 3px #fea;
  border-color: #fb1;
}

.UserHeaderNavComponent a.active svg > *{
  fill: #fb1
}