.PhotoContentComponent {
  margin: auto;
  height: 36rem;
  border-radius: 0.2rem;
  background: white;
  display: grid;
  grid-template-columns: 36rem 20rem;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
  opacity: 0;
  transform: scale(0.8);
  animation: scaleUp 0.3s forwards;
}

@keyframes scaleUp {
  to {
    opacity: initial;
    transform: initial;
  }
}

.PhotoContentComponent .details {
  padding: 2rem 2rem 0 2rem;
}

.PhotoContentComponent .details .title a {
  position: relative;
  z-index: 22;
}

.PhotoContentComponent .details .title::after {
  z-index: 21;
}

.PhotoContentComponent .img {
  grid-row: 1/4;
}

.PhotoCommentsComponent {
  padding: 0 2rem;
}

@media (max-width: 64rem) {
  .PhotoContentComponent {
    height: auto;
    max-height: calc(100vh - 4rem);
    overflow-y: auto;
    grid-template-columns: minmax(20rem, 40rem);
  }

  .PhotoContentComponent .img {
    grid-row: 1;
  }
}

.PhotoContentComponent .details p {
  opacity: .5;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.PhotoContentComponent .details p a:hover {
  text-decoration: underline;
}

.PhotoContentComponent .details p span::before  {
  content: '';
  display: inline-block;
  width: 16px;
  height: 10px;
  margin-right: 0.5rem;
  background: url('../../Assets/visualizacao-black.svg');
}

.PhotoContentComponent .details ul {
  display: flex;
  font-size: 1.125rem;
  font-weight: bold;
  margin: 1rem 0 2rem 0;
}

.PhotoContentComponent .details ul li{
  margin-right: 2rem;
}

.PhotoContentComponent .details ul li::before{
  content: '';
  display: inline-block;
  width: 2px;
  height: 20px;
  margin: 5px 0.5rem 0 0;
  top: 3px;
  position: relative;
  background: #333;
}